/Ora20190517RepoPractice/nbproject/private/
/Ora20190517RepoPractice/build/
/Ora20190517RepoPractice/nbbuild/
/Ora20190517RepoPractice/dist/
/Ora20190517RepoPractice/nbdist/
/Ora20190517RepoPractice/.nb-gradle/
